[submodule "libs/r"]
	path = libs/r
	url = git@github.com:skela/r.git
[submodule "libs/pysweep"]
	path = libs/pysweep
	url = git@github.com:skela/index-pysweep.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "libs/qtile-extras"]
	path = libs/qtile-extras
	url = git@github.com:elParaguayo/qtile-extras.git
